.button{
/* Best Choice */

position: absolute;
width: 120px;
height: 35px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
/* identical to b;x height, or 150% */
color:white;
background:  #FF7724;

}